[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
PYTHONPATH=homework_test

[packages]
pytest = "*"
requests = "*"
selenium = "*"
pytest-xdist = "*"
nose = "*"
nose-parallel = "*"

[dev-packages]

[requires]
python_version = "3.9"
